
<div class="titulo-principal">
    <h2 *ngIf="!showUsuarioDetalle" class="titulo-texto">
        {{'Administración de usuarios' | uppercase}}
    </h2>
    <a
        mat-fab
        *ngIf="showUsuarioDetalle"
        class="green-ball"
        (click)="volverInicio()"
    >
        <mat-icon>arrow_back</mat-icon>
    </a>
 
</div>
<mat-card class="loseta" *ngIf="!showUsuarioDetalle">

    <mat-card-content>
        <div class="informacionTotales">
            <mat-card>
                <mat-card-title> Total usuarios registrados </mat-card-title>
                <img src="../../assets/img/computer-science-1331579_640.png" alt="">
                <h2>
                     <strong>{{ cantidadUsuariosTotal }}</strong>
                </h2>
              </mat-card>
              <br>
              <mat-card>
                <mat-card-title>Total posts registrados</mat-card-title>
                <img src="../../assets/img/1999310.png" alt="">
                <h2>
                     <strong>{{ cantidadPostsTotal }}</strong>
                </h2>
              </mat-card>
        </div>
        <div class="tabla">
            <br>
            <h2>Lista de Usuarios</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container> 
                
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="ciudad">
                  <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                  <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="cel-centrado acciones"
                    >Acciones</th>
                    <td
                        mat-cell
                        *matCellDef="let row"
                        data-label="acciones"
                        class="cel-centrado acciones"
                    >
                        <a
                            mat-fab
                            color="primary"
                            (click)="viewPersona(row)"
                            class="actionBtn"
                            [title]="'Detalle Usuario'"
                        >
                            <mat-icon>visibility</mat-icon>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<div *ngIf="showUsuarioDetalle">
    <app-detalle-usuario [usuario]="usuarioSeleccionado">
    </app-detalle-usuario>
</div>
